:host {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
}

.fight-button {
  font-size: 1.5rem;
}

.pokemon-card {
  padding: 1.5rem;
  min-width: 180px;
  //margin: 1rem;
}

.arrow {
  font-size: 2rem;
  padding: 1rem;
}

.progress-spinner-container {
  min-height: 34px;
}
