/* Angular Material prebuilt theme */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import "primeflex/primeflex.css";

html, body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.d-flex {
  display: flex !important;
}

.w-100 {
  width: 100%;
}

